@import "/src/common/colors.scss";
@import "/src/common/media.scss";

.services {
  display: flex;
  flex-direction: column;
  padding: 0 250px;
  @include medium-screen {
    padding: 0 70px;
  }
  @include small-screen {
    padding: 0 20px;
  }
  .title {
    font-size: 3rem;
    text-align: center;
    font-weight: lighter;
    margin-bottom: 15vh;
    @include medium-screen {
      margin: 5vh auto 5vh auto;
      width: 70%;
    }
    @include small-screen {
      margin: 5vh auto 5vh auto;
      width: 70%;
    }
  }

  .services-nav {
    display: flex;
    flex-wrap: wrap;
    row-gap: 5vh;
    column-gap: 5px;
    text-align: center;
    justify-content: center;
    @include medium-screen {
      row-gap: 2vh;
    }
    @include small-screen {
      display: none;
    }
    .nav-link {
      width: 200px;
      border: 1px solid black;
      cursor: pointer;
      padding: 15px;
      text-align: center;
      height: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include medium-screen {
        width: 20%;
      }
    }
    .nav-link:hover {
      background-color: black;
      color: white;
    }
    .active-nav-link {
      width: 200px;
      border: 1px solid $sgt-blue;
      background-color: $sgt-blue;
      color: white;
      cursor: pointer;
      padding: 15px;
      height: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  .subcontainer {
    margin: 10vh 0;
    @include medium-screen {
      margin: 5vh 0 0 0;
    }
    @include small-screen {
      margin: 5vh 0;
    }
    .subtitle {
      font-size: 2rem;
      text-align: center;
      font-weight: lighter;
      margin-bottom: 10vh;
      @include medium-screen {
        margin-bottom: 5vh;
      }
      @include small-screen {
        margin-bottom: 5vh;
      }
    }
    .body {
      font-size: 1rem;
      line-height: 30px;
      font-weight: lighter;
    }
  }
}
