@import "/src/common/media.scss";

.contact {
  display: flex;
  flex-direction: column;
  padding: 0 250px;

  @include medium-screen {
    padding: 0 90px;
  }
  @include small-screen {
    padding: 5px;
  }
  .title {
    font-size: 3rem;
    text-align: center;
    font-weight: lighter;
    margin-bottom: 15vh;
  }
  .address {
    width: 300px;
    font-weight: lighter;
    line-height: 25px;
    text-align: center;
    margin: 0 auto 5vh auto;
  }
  .phone {
    font-weight: lighter;
    line-height: 25px;
    text-decoration: underline;
    text-align: center;
  }
  .subtitle {
    font-size: 1.5rem;
    font-weight: lighter;
    text-align: center;
  }
}
