@import "/src/common/colors.scss";
@import "/src/common/media.scss";

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 85px;

  @include small-screen {
    padding: 10px 25px;
  }
  .logo {
    width: 100px;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    width: 500px;

    .site-nav {
      display: flex;
      justify-content: space-between;
      width: 350px;
      align-items: center;
      font-weight: lighter;

      @include medium-screen {
        justify-content: space-between;
        margin: 0 auto;
      }
      @include small-screen {
        display: none;
      }
      .nav-link {
        text-decoration: none;
        cursor: pointer;
        color: black;
        font-size: 1.2rem;
      }
      .nav-link:hover {
        color: gray;
      }
      .active-nav-link {
        text-decoration: none;
        cursor: pointer;
        color: $sgt-blue;
        font-size: 1.2rem;
      }
    }

    .social-nav {
      display: flex;
      justify-content: space-between;
      width: 100px;
      align-items: center;
      @include medium-screen {
        display: none;
      }
      @include small-screen {
        display: none;
      }
      .social-icon {
        font-size: 20px;
      }
    }
  }

  .menu-icon {
    font-size: 25px;

    cursor: pointer;

    @include large-screen {
      display: none;
    }

    @include medium-screen {
    }

    @include small-screen {
      font-size: 50px;
      height: 50px;
    }
  }
}
