@import "/src/common/media.scss";

.carousel {
  width: 100%;
  @include medium-screen {
    width: 80%;
    margin: 0 auto;
  }
  .carousel-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .img {
      width: 100%;
      height: 80vh;
      object-fit: cover;
      object-position: center;
      @include medium-screen {
        height: 40vh;
      }
      @include small-screen {
        height: 40vh;
      }
    }

    .title {
      font-size: 2rem;
      margin-top: 1rem;
      text-align: center;
      font-weight: normal;

      @include small-screen {
        font-size: 1.5rem;
      }
    }
  }
}
